{% load static tailwind_tags %}
<html lang="en">
<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
    
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    {% block navbar %}{% endblock navbar %}

    {% include 'messages.html' %}
    {% block content %}{% endblock content %}

    {% block footer %}{% endblock footer %}

    {% block javascript %}{% endblock javascript %}
</body>
</html>